.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  padding: 3.4rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    &-holder {
    }
  }
  &__button {
    color: $black;
    background-color: $white;

    font-size: 1.4rem;

    border: 1px solid $border;
    padding: 0.9rem 2.1rem;
    border-radius: 0.5rem;

    box-shadow: 0px 5px 10px #0000001c;

    &--primary {
      color: $white;

      background-color: $blue;
      border-color: $blue;

      margin-left: 2rem;
    }
    &-holder {
    }
  }
}
